frontend http_front
    bind *:80
    default_backend webservers_back

backend webservers_back
    balance roundrobin
    mode http
    {% for host in groups['catfood_webservers'] %}
    server web{{ loop.index }} {{ host }}:80 check
    {% endfor %}

backend appservers_back
    balance roundrobin
    mode http
    {% for host in groups['bighead_webservers'] %}
    server app{{ loop.index }} {{ host }}:80 check
    {% endfor %}
